@font-face {
  font-family: "Stratum2";
  src: url("../fonts/stratum2-regular-webfont.ttf"),
    url("../fonts/stratum2-bold-webfont.ttf");
}
body {
  font-family: "Stratum2", sans-serif;
}

img {
  max-width: 100%;
}
.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #13538b;
  border-color: #13538b;
}
.text-primary {
  color: #13538b !important;
}
.bg-primary {
  background-color: #13538b !important;
}
.navbar {
  transition: all 0.4s;
  border-bottom: 1px solid #aaa6;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .active .nav-link {
  color: #13538b;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    /* background: #fff; */
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}

.navbar-homepage {
}

.bg-gradient-transparent {
  background: rgb(168, 168, 168);
  background: linear-gradient(
    0deg,
    rgba(168, 168, 168, 0) 0%,
    rgba(0, 0, 0, 0.908000700280112) 100%
  );
}
.bg-gradient-transparent-inv {
  background: rgb(168, 168, 168);
  background: linear-gradient(
    180deg,
    rgba(168, 168, 168, 0) 0%,
    rgba(41, 41, 41, 0.7) 100%
  );
}
#homeslider h1 {
  font-size: 4.5em;
  font-weight: 700;
}
#homeslider .carousel-inner {
  padding-bottom: 70px;
}

#homeslider .carousel-caption {
  right: auto;
  left: 0;
  text-align: left;
  width: 100%;
}

#homeslider .caption-right {
  margin-bottom: -100px;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.feature {
  margin-top: -50px;
}

#homeslider ol.carousel-indicators {
  left: 0;
  bottom: 120px;
  right: auto;
  margin: 0;
}
.carousel-indicators li {
  width: auto;
  height: auto;
  border-radius: 50%;
  opacity: 1;
  /* margin: 10px; */
  text-indent: unset;
  background-color: transparent;
  padding: 0px 12px 6px 12px !important;
  margin: 5px;
  border: none;
  color: #fff;
}
.carousel-indicators li.active {
  /* margin: 10px; */
  text-indent: unset;
  background-color: #3336;
  /* padding: 10px 15px 10px 15px; */
  /* margin: 5px; */
  border: 1px solid #fff;
  color: #fff;
}

.carousel-indicators li .fa {
  font-size: 8px;
}

span.btn-play {
  padding-top: 9px;
  padding-right: 12px;
  padding-left: 14px;
  padding-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
  color: #fff;
  background: #3336;
}

/* Overview */
.overview {
  margin-bottom: -87px;
}
.overview-img {
  margin-right: -90px;
}
@media screen and (max-width: 768px) {
  .overview-img {
    margin-right: 0px;
  }
}
.overview-desc {
  background: #13538b;
}

/* IVECO TRUCKS */
section.iveco-trucks .iveco-header {
  padding-top: 150px;
  padding-bottom: 250px;
}

.card-title {
  font-weight: 700;
}

.iveco-content .card-img-top {
  height: 250px;
  width: 100%;
  margin-top: -250px;
}

.card-img-offset {
  margin-top: -150px;
  text-align: center;
  margin-bottom: 30px;
}
.card-img-offset img {
  width: auto;
  max-height: 220px;
}

.spek {
  padding-left: 20px;
  list-style: square;
  margin-bottom: 40px;
}

section.more-info {
  padding-bottom: 90px !important;
}

.more-info .info {
  margin-bottom: 30px;
}

/* PRODUK DETAIL */
.jumbotron {
  /* height: 600px; */
  position: relative;
  min-height: 500px;
}

.produk-img-cover {
  margin-bottom: -130px;
}
@media screen and (max-width: 768px) {
  .produk-img-cover {
    margin-bottom: -50px;
  }
}
.play-btn {
  position: absolute;
  right: 0px;
  bottom: 2%;
  background: #333333ab;
  border-radius: 25px;
  padding-right: 0;
}

.icon-circle {
  padding: 3px 10px;
  border-radius: 50%;
  padding-right: 5px;
  border: 1px solid #aaa;
}

section.produk-fitur {
  padding-bottom: 150px;
}

.produk-fitur .produk-overview {
  text-shadow: 1px 2px 1px #000;
}

.produk-galeri {
  padding-bottom: 100px;
}

.produk-galeri-nav .nav-item {
  padding: 15px;
  border-right: 1px solid #eee;
  margin-top: 40px;
  max-width: 180px;
  border-radius: 0;
}
.produk-galeri-nav .carousel-indicators {
  position: relative;
  margin: 0;
}
.produk-galeri-nav .nav-item .nav-link {
  color: #ccc;
}
.produk-galeri-nav .nav-item:last-child {
  border-right: 0;
}

#galeri .nav-link {
  color: #999999;
}
#galeri .nav-link.active {
  color: #13538b;
}

.produk-related article {
  border-left: 5px solid #13538b;
}

/* Footer */
.top-footer {
  background: #13538b;
}
.img-footer-trucks {
  margin-top: -90px;
}
.btn-sosmed {
  /* background-color: #fff; */
  border-radius: 50%;
  margin: 0 7px;
}

/* ABOUT */
.header-img {
  height: 300px;
}

.about-desc {
  /* margin-top: -70px; */
  /* background: white; */
  background: rgb(168, 168, 168);
  background: linear-gradient(
    260deg,
    rgb(255 255 255) 0%,
    rgb(245 245 245) 100%
  );
}

.about-video {
  height: 450px;
  background: rgb(168, 168, 168);
  background: linear-gradient(
    79deg,
    rgba(168, 168, 168, 0) 0%,
    rgba(19, 83, 139, 1) 76%
  );
  /* border-top: 10px solid #03a9f4; */
}
.btn-play-lg {
  padding-top: 15px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
  color: #fff;
  background: #3336;
}

.visi-misi-header {
  background: #13538b;
}
.visi-misi {
  margin-top: -240px;
}
.mission-list li {
  padding-bottom: 15px;
}

/* Direktur */
.direktur-foto,
.direktur-desc {
  padding: 5rem !important;
}

.direktur-foto .card-body {
  border-left: 7px solid #03a9f4;
}

.direktur-desc {
  border-bottom: 10px solid #03a9f4;
}

/* Core Values */
.value {
  background: rgb(238, 238, 238);
  background: linear-gradient(
    79deg,
    rgb(241 241 241 / 77%) 0%,
    rgba(255, 255, 255, 0.980722891566265) 60%
  );

  margin-bottom: 4rem;
  margin-top: 4rem;
  border: 0;
  border-radius: 0;
}

.value-icon {
  margin-top: -50px;
}

/* Leadership */
.leadership-traits {
  border-top: 10px solid #03a9f4;
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}
.leadership-list .card {
  margin: 0;
}

.leadership-list {
}

.leadership:first-child .card {
  background: rgb(238, 238, 238);
  background: linear-gradient(
    79deg,
    rgb(249 249 249) 30%,
    rgba(255, 255, 255, 0.980722891566265) 90%
  );
}

.leadership:last-child .card {
  background: rgb(238, 238, 238);
  background: linear-gradient(
    79deg,
    rgb(255 255 255) 30%,
    rgb(248 249 250) 90%
  );
}

.ethics-wrapper .card {
  min-height: 350px;
}

/* Governance*/
.governance {
  background-image: url(../img/gov2.png), url(../img/about/image_30.png);
  background-position: top left,
    /* this positions the first image */ bottom left; /* this positions the second image */
  background-size: auto, 450px;
  background-repeat: no-repeat;

  /* min-height: 350px; */
}

/* News Detail */
.news-share-icon {
  color: #333;
}
/* General */

.carousel img {
  width: 100%;
}
.text-secondary {
  color: #999999;
}

.btn-outline-black {
  background-color: transparent;
  border: 1px solid #333;
}
.btn-outline-white {
  background-color: transparent;
  border: 1px solid #fff;
}

.dropdown-toggle::after {
  display: none;
}

.nav-link {
  /* padding-left: 1em !important;
  padding-right: 1em !important; */
}

img {
  object-fit: cover;
}

.shape::after {
  width: 300px;
  height: 100%;
  background: #13538b;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(42deg);
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  border-right: 40px solid #00bcd4;
}

.shape {
  position: relative;
}

/* Core value */
.nav-item.active {
  font-weight: bold;
}
.value-header {
  background-image: url(../img/value-header.png);
  background-repeat: no-repeat;
  background-position: 450px;
  background-size: contain;
}

/* Ethics */
.ethics {
  background-image: url(../img/bg-globe.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

/* Mobile CSS */

@media screen and (max-width: 768px) {
  section.iveco-trucks .iveco-header {
    padding-bottom: 30px;
  }
  .iveco-content .card-img-top {
    margin-top: 0;
  }
  .img-footer-trucks {
    margin-top: 0px;
  }

  #homeslider h1 {
    font-size: 2em;
  }
}

/* Milestone CSS */

#app {
}
.timeline {
  margin: 50px 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}
.timeline li {
  transition: all 200ms ease-in;
}
.timestamp {
  width: 100%;
  margin-bottom: 20px;
  /* padding: 0px 40px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  font-weight: 100;
}
.status {
  /* padding: 0px 40px; */
  display: flex;
  /* justify-content: center; */
  border-top: 2px solid #13538b;
  position: relative;
  transition: all 200ms ease-in;
}

.status span {
  font-weight: 600;
  padding-top: 40px;
}
.status span:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #13538b;
  position: absolute;
  top: -8px;
  /* left: calc(50% - 12px); // align circle to center */
  left: 0;
  transition: all 200ms ease-in;
}
.swiper-control {
  text-align: right;
}

.swiper-container {
  width: 100%;
  /* height: 250px; */
  /* margin: 50px 0;
  overflow: hidden;
  padding: 0 20px 30px 20px; */
}
.swiper-slide {
  /* width: 400px; */
  text-align: left;
  font-size: 18px;
}
/* .swiper-slide:nth-child(2n) {
  width: 40%;
}
.swiper-slide:nth-child(3n) {
  width: 20%;
} */

.carousel-control-next,
.carousel-control-prev {
  width: auto !important;
}
.carousel-control-next-icon {
  position: absolute;
  top: 35px;
  right: -30px;
}
.carousel-control-prev-icon {
  position: absolute;
  top: 35px;
  left: -30px;
}

.milestone-history {
  background: #eee;
  border-bottom: 3px solid #15548c;
}

.carousel-item blockquote {
  border-left: none;
  margin: 0;
  color: #fff;
}

.carousel-item blockquote img {
  margin-bottom: 10px;
}

.carousel-item blockquote p:before {
  content: "\f10d";
  font-family: "Fontawesome";
  float: left;
  margin-right: 10px;
}

.carousel-item blockquote p:after {
  content: "\f10e";
  font-family: "Fontawesome";
  /* float: left; */
  margin-left: 10px;
}

.shape-2 {
  width: 290px;
  height: 100%;
  background: #13538b;
  -webkit-transform: skew(320deg);
  -moz-transform: skew(320deg);
  -o-transform: skew(320deg);
  transform: skew(320deg);
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  border-left: 40px solid #00bcd4;
}
.shape-3 {
  width: 290px;
  height: 100%;
  background: #f5f5f5;
  -webkit-transform: skew(340deg);
  -moz-transform: skew(340deg);
  -o-transform: skew(340deg);
  transform: skew(340deg);
  content: "";
  position: absolute;
  top: 0;
  right: -100px;
  border-left: 60px solid #13538b;
}

.footer-logos {
  position: absolute;
  bottom: 0;
}

/* CONTACT US CSS */
.contact-header:after {
  content: " ";
  width: 50px;
  height: 2px;
  background: #fff; /* position: absolute; */ /* bottom: 0; */
  display: block;
  margin-top: 50px;
}

.contact-header {
  position: relative;
}

.contact-detail {
}

/* PRIDUCTS LIST CSS */
.product-lists {
  margin-top: -150px;
}
.products-header {
  height: 300px;
}
.product {
  margin-bottom: 7rem;
}

/* Wizard step CSS */
.step-anchor li {
  border-bottom: 3px solid #ddd;
  margin-right: 10px;
}

.step-anchor li.active {
  border-color: #13538b;
}

.step-anchor li .nav-link {
  padding-bottom: 0;
  color: #aaaa;
  padding-left: 0;
}

.step-anchor li.active .nav-link {
  color: #13538b;
}

.v-type {
  float: left;
  width: 200px;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  box-shadow: 0px 0px 15px 0px #13538b;
}

/* PART AND SERVICES */

.part-services-header {
  background-image: url(../img/ps-header2.png), url(../img/ps-header.png);
  background-position: left, /* this positions the first image */ right; /* this positions the second image */
  background-repeat: no-repeat; /* this applies to both images */
}

.card .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-collapse.collapse.show {
  background: #fff;
  padding: 20px;
  margin-top: 10px;
}

.navbar-collapse.collapse.show .nav-link {
  color: #333;
}
